{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": true,
  "importOrder": ["^react", "^(?!(react|@core/))\\w+", "^@(core|ui)/", "^."],
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
