@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ALS-Zheldor';
  src: url('../public/fonts/ALS-Zheldor-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../public/fonts/Montserrat-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../public/fonts/Montserrat-SemiBold.ttf');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../public/fonts/Montserrat-Bold.ttf');
  font-weight: 700;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  display: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */

@-moz-document url-prefix() {
  /* Hide scrollbar Firefox */
  html {
    scrollbar-width: none;
  }

  body {
    overflow-x: hidden;
  }
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.modal_mobile_height {
  @media screen and (max-width: 768px) {
    height: auto !important;
  }
}

/* Swiper */

.swiper-pagination .swiper-pagination-bullet {
  opacity: 1;
  border: white solid 1px;
  background-color: transparent;
  width: 10px;
  height: 10px;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: white;
}

.swiper-slide {
  filter: grayscale(100%) opacity(0.3);
}

.swiper-slide-active {
  filter: grayscale(0%) opacity(1);
}

body {
  @apply flex min-h-screen w-full min-w-[320px] flex-col items-center overflow-x-hidden;
}

main {
  @apply mx-auto min-h-[calc(100vh-358px)] w-full max-w-[1262px] flex-grow px-[1rem];
}

.container {
  @apply rounded-2xl bg-white drop-shadow-custom;
}

.h1 {
  @apply font-zheldor text-[2.5rem] font-normal uppercase leading-[3rem] sm:text-2xl;
}

.h3 {
  @apply font-zheldor text-[1.5rem] font-normal uppercase leading-[2rem] sm:text-[1.125rem] sm:leading-[1.375rem];
}

.header_tooltip {
  @apply absolute top-[90px] w-[400px] rounded-b-2xl bg-white px-[20px] pb-[30px] pt-[20px] text-[12px];
}

.nav_links {
  @apply flex w-full flex-row gap-2 rounded-b-2xl bg-white sm:min-w-full sm:uppercase md:max-w-[190px] md:flex-col;
}

.cart_ingredients {
  @apply mt-[5px] break-words text-xs font-normal leading-[15px] sm:text-[10px] sm:leading-[0.75rem];
}

.login_form {
  @apply relative flex min-h-[550px] w-full max-w-[600px] scale-100 flex-col items-center justify-center gap-8 overflow-hidden rounded-2xl bg-white px-[112px] py-[85px] align-middle opacity-100 drop-shadow-custom transition-all sm:h-full sm:gap-[30px] sm:rounded-none sm:p-8 sm:text-left;
}

.login_input {
  @apply w-full border px-3 py-4 text-center text-primary focus:outline-black;
}

/*Buttons*/
.btn_red {
  @apply flex h-[60px] w-full items-center justify-center rounded-2xl bg-secondary px-4 py-2 text-xs font-bold uppercase text-white hover:bg-secondaryLight sm:h-[50px];
}

.btn_yellow {
  @apply flex h-[45px] w-full items-center justify-center rounded-2xl bg-yellow px-4 py-2 text-xs font-bold uppercase text-primary hover:bg-yellowLight;
}

.btn_gray {
  @apply flex h-[60px] w-full items-center justify-center rounded-2xl bg-grayDark px-4 py-2 text-xs font-bold uppercase text-white hover:opacity-50 sm:h-[50px];
}

.btn_grayLight {
  @apply flex cursor-pointer items-center justify-center  rounded-2xl bg-gray bg-opacity-50 text-sm font-bold leading-[17px] hover:bg-opacity-100 sm:text-xs sm:leading-[15px];
}

.btn_disabled {
  @apply disabled:pointer-events-none disabled:bg-grayLight disabled:text-grayDark;
}

/* FLEX */
.flex_center {
  @apply flex items-center justify-center;
}

.flex_start {
  @apply flex items-start justify-start;
}

.flex_end {
  @apply flex items-center justify-end;
}

.flex_between {
  @apply flex flex-wrap items-center justify-between;
}

/* Modal */

.overlay {
  @apply fixed inset-0 bg-black bg-opacity-25 opacity-100;
}
