@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ALS-Zheldor";
  src: url("../public/fonts/ALS-Zheldor-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../public/fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../public/fonts/Montserrat-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: url("../public/fonts/Montserrat-Bold.ttf");
  font-weight: 700;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  @apply max-h-screen mx-auto max-w-[1230px] w-full px-4 bg-black text-white font-montserrat;
}

.header {
  @apply h-[90px] px-[60px] bg-white text-primary rounded-b-2xl  shadow-lg shadow-black sticky z-10 top-0;
}

.header_dropdown {
  @apply max-w-[190px] w-full hover:bg-light hidden md:flex md:items-center md:gap-2 md:h-[90px] md:pl-7 sm:hidden;
}

.header_tooltip {
  @apply bg-white w-[400px] absolute top-[90px] rounded-b-2xl text-[12px] text-center p-6;
}

.nav_links {
  @apply flex gap-2 text-sm font-semibold w-full md:max-w-[190px] sm:min-w-full bg-white rounded-b-2xl;
}

/* FLEX */
.flex_center {
  @apply flex justify-center items-center;
}

.flex_start {
  @apply flex justify-start items-start;
}

.flex_end {
  @apply flex justify-end items-center;
}

.flex_between {
  @apply flex justify-between items-center flex-wrap;
}